@import url("./header-forpc.css")     (min-width:1000px) and (any-hover: hover);
@import url("./header-formobile.css") (max-width: 999px)  ,  (any-hover: none);


body {
  background: var(--bg);
}

nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 222200;
}

nav a {
  color: var(--header-color);
  display: block;
  text-decoration: none;
  margin: 0;
  transition: 
    all var(--header-transition);
}

nav a:hover {
  background: var(--header-color);
  color: var(--font-color);
}

#\^standard-menu {
  background: var(--header-bg);
  box-sizing: content-box;
}

nav a {
  padding-inline: 0.5em;
}

#\^standard-menu>ul:first-child a:active {
  color: var(--header-color);
  background: var(--font-color);
}

#\^hamburger-io {
  display: none;
}
