/* It's for hamburger menu */

:root {
  --is-hamburger: 1;
}

#\^standard-menu {
  display: none;
}

nav .home img {
  height: 2em;
  width: auto;
}

#\^hamburger-menu {
  font-size: max(3.2vh,3.2vw,20px);
}

#\^hamburger-menu>label {
  display: block;
}

#\^hamburger-menu>label>a {
  display: inline;
}

#\^hamburger-menu>a,
#\^hamburger-menu>label>ul>li>a {
  text-align: center;
}

#\^hamburger-menu>a:hover,
#\^hamburger-menu>label>a:hover {
  border-radius: calc(var(--header-content-radius) / 2);
}

/* for menu's backgrounds */

#\^hamburger-menu {
  background-color: var(--header-bg);
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100dvh;
  list-style-type: none;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: auto;
  transition:
    width var(--header-transition),
    padding-left var(--header-transition);
  width: 0em;
  white-space: nowrap;
  z-index: 222280;
}

#\^hamburger-io:checked~nav #\^hamburger-menu {
  display: block;
  width: 11em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

/* for marker */

#\^hamburger-menu input {
  text-align: left;
  position: relative;
  font-size: max(3.2vh,3.2vw,20px);
  left: -999px;
}
#\^hamburger-menu>label>input::before {
  display: inline;
  width: 1em;
  position: relative;
  left: 999px;
  font-size: max(3.2vh,3.2vw,20px);
  content: "ー";
  color: var(--header-color);
  padding-right: 1em;
  transition:
    padding 0s,
    color calc(var(--header-transition) / 2) calc(var(--header-transition) / 2);
  }
#\^hamburger-menu>label>input:checked::before {
  content: "◯";
}
#\^hamburger-menu>a,
#\^hamburger-menu>label>a {
  margin-left: 1.5em;
  line-height: 2em;
  height: 2em;
}


/* for childs */

#\^hamburger-menu>label>ul {
  background: var(--header-content-bg);
  border-radius: calc(var(--header-content-radius) / 4);
  border-width: 0;
  padding-left: 0;
  margin: 0;
  transition:
    border-width 0ms var(--header-transition);
}
#\^hamburger-menu>label>input:checked~ul {
  border-width: var(--header-border-width);
  transition:
    border-width var(--header-transition);
}
#\^hamburger-menu>label>ul>li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
#\^hamburger-menu>label>ul>li>a {
  height: 0;
  line-height: 0;
  font-size: 0;
  transition: 
    height var(--header-transition),
    line-height var(--header-transition),
    font-size var(--header-transition);
}

#\^hamburger-menu>label>input:checked~ul>li>a {
  height: 1.5em;
  line-height: 1.5em;
  font-size: max(3.2vh,3.2vw,20px);
}
#\^hamburger-menu>label>ul>li:first-child:hover>a {
  border-radius: calc(var(--header-content-radius) / 4) calc(var(--header-content-radius) / 4) 0 0;
}
#\^hamburger-menu>label>ul>li:last-child:hover>a {
  border-radius: 0 0 calc(var(--header-content-radius) / 4) calc(var(--header-content-radius) / 4);
}


/* for expander メニュー展開するやつ */

  #\^hamburger {
  align-items: center;
  background-color: var(--header-bg);
  border-color: var(--header-border-color);
  border-style: var(--header-border-style);
  border-width: var(--header-border-width);
  /*/box-shadow: 0.1em 0.1em 0.3em 0.2em rgba(0, 0, 0, .75);/**/
  display: flex;
  height: max(8vh, 8vw, 50px);
  justify-content: center;
  position: fixed;
  right: max(2vh, 2vw);
  top: max(2vh, 2vw);
  width: max(8vh, 8vw, 50px);
  z-index: 222290;
}

#\^hamburger span,
#\^hamburger span::before,
#\^hamburger span::after {
  background-color: var(--header-color);
  border-radius: max(.5vh, .5vw);
  content: "";
  display: block;
  height: max(.5vh, .5vw);
  position: absolute;
  width: max(3vh, 3vw);
}

#\^hamburger span::before {
  bottom: max(1.5vh, 1.5vw);
}

#\^hamburger span::after {
  top: max(1.5vh, 1.5vw);
}

#\^hamburger-io~#\^hamburger span,
#\^hamburger-io~#\^hamburger span::before,
#\^hamburger-io~#\^hamburger span::after {
  transition:
    bottom calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    top calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    left calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    width calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    transform calc(var(--header-transition) / 2);
}

#\^hamburger-io:checked~#\^hamburger span,
#\^hamburger-io:checked~#\^hamburger span::before,
#\^hamburger-io:checked~#\^hamburger span::after {
  transition:
    bottom calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    top calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    left calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    width calc(var(--header-transition) / 2),
    transform calc(var(--header-transition) / 2) var(--header-transition);
}

#\^hamburger-io:checked~#\^hamburger span {
  width: 0;
}

#\^hamburger-io:checked~#\^hamburger span::before {
  bottom: 0;
  transform:
    translateX(min(-1.5vh, -1.5vh)) rotateZ(90deg) rotateZ(135deg);
}

#\^hamburger-io:checked~#\^hamburger span::after {
  top: 0;
  transform:
    translateX(min(-1.5vh, -1.5vh)) rotateZ(-90deg) rotateZ(-135deg);
}

@media (prefers-color-scheme: light) {
  #\^humberger {
    border-radius: 50%;
    transition: border-radius calc(var(--header-transition) / 2);
  }
  #\^hamburger-io:checked~#\^hamburger {
    border-radius: 0;
  }
}